Y Messages should not be run if their time out has expired.
Y Can Add Cars to the QueueManager
Y QueueManager should track which cars are processed on a thread.

MessageProcessor should recover from an unhandled exception.
Can Remove Cars from the QueueManager

Message entered queue should be logged for procmon.
Message processing complete should bbe logged for procmon. 
MessageQueue depth should be logged for procmon.